@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #333;
  background-color: #eee;
}

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  font-size: 62.5%; /* 1rem = 10px */
  hanging-punctuation: first last;
}

/* min body height */
body {
  min-height: 100svh;
  padding-top: 2rem;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p,
li {
  max-width: var(--p-max-width, 65ch);
  text-wrap: pretty;
}

nav {
  margin: 0 auto;
  max-width: 100%;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  background-color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 2rem;
}

nav a:hover {
  background-color: #000;
  color: #fff;
}
